.header {
  padding-top: 28px;
  max-width: 1184px;
  width: 100%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  font-family: Inter;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: calc(100vw - (48px + 48px));
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: calc(100vw - (24px + 24px));
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    max-width: calc(100vw - (16px + 16px));
  }
}