.website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  max-width: 456px;
}

@media screen and (max-width: 767px) {
  .website {
    align-items: left;
    min-width: calc(100vw - (16px + 16px));
    margin: 0 auto;
  }
  
}