.website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  max-width: 456px;
}

@media screen and (max-width: 320px) {
  .website {
    align-items: left;
    min-width: 288px;
    margin: 0 auto;
  }
  
}