.cover {
  padding-top: 92px;
  max-width: 1184px;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 1278px) {
  .cover {
    max-width: 100vw;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 66px;
  }
}