.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.cover__overlay:after {
  content: "";
  width: 0;
  height: 0;
  padding-top: calc(740/1184*100%);
}